<html>
<head>
<style>
</style>
<script>
function displayDate(){
  document.getElementById("demo").innerHTML="<p>这是一个段落。</p><H>嘿嘿</H>";
}
</script>
</head>
<body>
<p id="demo"></p>
<script>
 
	setTimeout(function(){displayDate()
    },3000);

</script>
</body>
</html>